<div class="row" id="nav">
      <% if categories.length > 3 %>
        <% categories.each_with_index do |category, index| %>
          
          <% break if index > 2 %>
          <div class="col-sm-2">
            <div class="dropdown">
              <div class="dropbtn">
                <a href="/categories/<%= category.id %>" class="nav-el"><%= category.title %></a>
              </div>
              <div class="dropdown-content">
                <% category.posts.each do |post| %>
                  <%= link_to post.title, category_post_path(category, post), :class => "nav-el"  %>
                <% end %>
              </div>
            </div>
          </div>

        <% end %>
      
      <div class="col-sm-1">
        <div class="dropdown">
          <div class="dropbtn">
            <%= link_to "More", categories_path, :class => "nav-el" %>
          </div>
          <div class="dropdown-content">
            <% categories[3..-1].each do |category| %>
              <%= link_to category.title, category_path(category), :class => "nav-el" %>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>
      
    
    <% if admin %>
      <div class="col-sm-1">
        <%= link_to "New category", new_category_path %>
      </div>
      <div class="col-sm-1">
        <%= link_to "New Post", new_post_path %>
      </div>
    <% end %>
    <div class="col-sm-3">
      <% if current_user %>
        Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
      <% else %>
        <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
      <% end %>
    </div>
  </div>
