<!DOCTYPE html>
<html>
  <head>
    <title>CodeSchool</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div id="page-top">
      <%= render 'layouts/navbar', categories: @categories %>
      <%= render 'layouts/header' %>
    </div>
    <%= yield %>
  </body>
</html>
